name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-python@v4.4.0
      - uses: psf/black@22.8.0
        with:
          options: --check --diff --target-version py36 --exclude ^/docs/source/conf\.py$
