# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT License

name: Run pre-commit on all files

on:
- pull_request
- push

jobs:
  run_pre_commit:
    name: Run pre-commit on all files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up Python 3.9
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.9

      - name: Install pre-commit
        run: |-
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            pre-commit
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Install pre-commit hooks
        run: |-
          pre-commit install --install-hooks

      - name: Run pre-commit on all files
        run: |-
          pre-commit run --all-files
