# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT License

name: Run the test suite

on:
- pull_request
- push

jobs:
  run-tests:
    name: Run the test suite
    strategy:
      matrix:
        python-version: [3.6, 3.9]  # no explicit need for 3.7, 3.8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install runtime dependencies
      run: |
        python3 --version
        pip3 install --user -r requirements.txt
        pip3 install --user -e .
        echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"
    - name: Run the test suite
      env:
        MPLBACKEND: agg
      run: |
        nosetests -v
        ( cd docs && make doctest )
